


<div class="col-12 col-6-medium col-12-small">
    In this project, we have modified an existing Four-Point Probe method for extracting the
    contact resistivity of an interface. Original method required additional test samples and
    time-consuming numerical analysis. We have replaced the latter with an analytical formulation
    which helped reduce the need for time-consuming numerical analysis and also provided a way
    to exclude the need for extra test sample.


</div>

<div class="col-12 col-6-medium col-12-small">
    <div>
        <img src="{{'../static/' + project.img_main_1}}" alt="{{project.img_alt}}" class="img-responsive mx-auto d-block" width="100%">
    </div>
</div>

<div class="col-12 col-6-medium col-12-small">

    To verify the validity of the proposed method, we compared the results with numerical simulations
    (which resulted in an excellent relative error lower than ~2%),
    followed by the comparing experimental results extracted using standard methods. Moreover, we
    implemented a free numerical tool that calculates the contact resistivity based on the user parameters.

</div>

<div class="col-12 col-6-medium col-12-small">
    <div>
        <img src="{{'../static/' + project.img_main_2}}" alt="{{project.img_alt}}" class="img-responsive mx-auto d-block" width="100%">
    </div>
</div>

<div class="col-12 col-6-medium col-12-small">

    The original publication with more details can be found <a href="https://doi.org/10.1016/j.solmat.2021.111272">here</a> and numerical tool <a
        href="http://app.mnt.metu.edu.tr/download/">here</a>.

</div>