<div class="col-12 col-6-medium col-12-small">

    Standard Cox and Strack method requires additional time-consuming steps required for measuring the contact
    resistivity of samples with full-area coated conductive layers.
    The reason lies in the analytical formulation of the 'spreading resistance' in classical formulation. In this
    work, we propose a simple and time-efficient formulation for
    'spreading resistance' that is calculated in a matter of miliseconds, therefore, improving the original method.

</div>

<div class="col-12 col-6-medium col-12-small">
    <div>
        <img src="{{'../static/' + project.img_main_1}}" alt="{{project.img_alt}}" class="img-responsive mx-auto d-block" width="65%">
    </div>
</div>

<div class="col-12 col-6-medium col-12-small">
    <p>
        To verify the proposed formulation we performed numerical and experimental analysis. For numerical analysis, we
        have tracked the relative error between derived formula and
        finite-element method simulations (using COMSOL). We found an acceptable error of less than 30% for edge cases
        and of less than 3% for common cases. </p>
    
        Then we compared the extracted contact resistiviy values of experimental samples using our formulation and numerical approach. We obtained a good agreement
        the two approaches.
    
</div>

<div class="col-12 col-6-medium col-12-small">
    <div>
        <img src="{{'../static/' + project.img_main_2}}" alt="{{project.img_alt}}" class="img-responsive mx-auto d-block" width="75%">
    </div>
</div>

<div class="col-12 col-6-medium col-12-small">

    The original publication with more details can be found <a
        href="https://ieeexplore.ieee.org/document/9568689">here</a>.

</div>