<div class="col-12 col-6-medium col-12-small">

    When contact resistivity is measured using full-area samples, it is usually not corrected in any way. In this work
    we
    found that it can be
    significantly overestimated due to current spreading inside the metal layer. To adjust for that overestimation, we
    analytically solved
    for resistance values of the full-area structures taking into account the current spreading in metal layer. This
    provided a way of
    correcting measured contact resistivity
    and measure more accurate values.

</div>

<div class="col-12 col-6-medium col-12-small">

    <img src="{{'../static/' + project.img_main_1}}" alt="{{project.img_alt}}" class="img-responsive mx-auto d-block"
        width="50%">

</div>

<div class="col-12 col-6-medium col-12-small">

    We tested the derived formulation against finite-element simulations (performed in COMSOL) and found that it has a
    good accuracy (with relative error being smaller than 2%).
    Then using proposed formulation we corrected the resistivity values of the fabricated experimental samples.
    The bottomline of this study suggests that contact resistivity can be significantly overestimated for relatively
    thin metal layers, and therefore should be corrected to account for limited current spreading.
</div>

<div class="col-12 col-6-medium col-12-small">
    <div>
        <img src="{{'../static/' + project.img_main_2}}" alt="{{project.img_alt}}"
            class="img-responsive mx-auto d-block" width="50%">
    </div>
</div>

<div class="col-12 col-6-medium col-12-small">

    The original publication with more details can be found <a
        href="http://dx.doi.org/10.4229/EUPVSEC20212021-1BV.3.5">here</a>.

</div>