<div class="col-12 col-6-medium col-12-small">

    Optimum design of the front metal grid can significantly boost performance of a solar cell. In this study, we use 
    numerical software (GRIDDLER) for finding the optimum grid design to be used in silicon heterojunction solar cells.

</div>

<div class="col-12 col-6-medium col-12-small">
    <div>
        <img src="{{'../static/' + project.img_main_1}}" alt="{{project.img_alt}}" class="img-responsive mx-auto d-block" width="65%">
    </div>
</div>



<div class="col-12 col-6-medium col-12-small">

    This work is still being conducted, so I can't share the details yet.

</div>