<div class="col-12 col-6-medium col-12-small">
    <p>
        Quantifying the performance of a specific material is a necessary step in the development of novel solar cell
        technologies.
        Accurate characterization is, however, challenging. Not only does it require good theoretical knowledge of the
        physical behaviors, but also expensive testing equipment.
    </p>
    <p>
        This work aims to accurately characterize new materials for their purpose in new solar cell designs. Due to
        the lack of necessary equipment,
        here we take an alternative approach. Using simulation software (Silvaco TCAD) together with Python packages
        (numpy, pandas, scipy) we empirically
        determine parameters of interest by fitting simulated to experimental data. Python serves as the main driver
        which controls input parameters of simulations, which are performed in Silvaco.
        The input parameters are varied until the relative error between experiments and Silvaco is minimized.
    </p>
</div>
<div class="col-12 col-6-medium col-12-small">
    <div>
        <img src="{{'../static/' + project.img_main_1}}" alt="{{project.img_alt}}"
            class="img-responsive mx-auto d-block" width="50%">
        <img src="{{'../static/' + project.img_main_2}}" alt="{{project.img_alt}}"
            class="img-responsive mx-auto d-block" width="50%">
    </div>

</div>


<div class="col-12 col-6-medium col-12-small">

    This work is still in the progress, the details are not available yet.

</div>