<article id="contact" class="panel">
    <header>
        <h1 style="margin-bottom: 1em;">My socials</h1>
        <p>Email: <u style="color: rgb(82, 82, 82);">knstntn.ts@gmail.com</u></p>
        <p>Github: <a href="https://github.com/knstntn-ts" style="color: rgb(82, 82, 82);">knstntn-ts</a></p>
        <p>ResearchGate (academic activity): <a href="https://www.researchgate.net/profile/Konstantin-Tsoi"
                style="color: rgb(82, 82, 82);">Konstantin Tsoi </a></p>
    </header>

    <a href="#side_projects" class="jumplink pic">
        <span class="arrow_left icon solid fa-chevron-left" style="left: 0; right:100%;"><span>Side
                Projects</span></span>
    </a>
</article>