<article id="work" class="panel">
    <header>
        <h2>My Current Work</h2>
    </header>

    <a href="#side_projects" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
    </a>

    <a href="#home" class="jumplink pic">
        <span class="arrow_left icon solid fa-chevron-left"><span>Home</span></span>
    </a>

    <p>
        My current work is concerned with the design and development of the photovoltaic devices.
        I specialize in the simulation of solar cells using dedicated software like Silvaco TCAD,
        GRIDDLER, COMSOL. My work also includes data analysis for prediction
        and/or determination of the potential performance of the devices.
    </p>
    <p>Below are summaries of some of my past and present work.</p>
    <section>
        <div class="row">

            {% for project in projects: %}
            <div class="card">
                <div class="front col-4 col-6-medium col-12-small">
                    <div class="row" style="justify-content: center;">
                        <div class="title">{{project.title}}</div>
                    </div>
                    {% if project.img_url: %}
                    <div class="row" style="justify-content: center;">

                        <div class="card-content">
                            <img src="{{project.img_url}}" alt="{{project.img_alt}}" width="90%"
                                class="img-fluid rounded mx-auto d-block">
                        </div>


                    </div>
                    {% endif %}
                </div>
                <div class="back col-4 col-6-medium col-12-small">
                    <div>
                        <div class="title">{{project.title}}</div>
                        <p class="overview">
                            {{project.subtitle}}
                        </p>

                        <a class="btn btn-primary" href="{{ url_for('show_work', project_id=project.id) }}"
                            role="button" style="color: #29b1e7;">View Details</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</article>