<article id="work" class="panel">
    <header>
        <h2>My Current Work</h2>
    </header>
    <p>
        My current work is concerned with the design and development of the photovoltaic devices.
        I specialize in the simulation of the solar cells using dedicated software like Silvaco TCAD,
        GRIDDLER, COMSOL. My work also includes data analysis for prediction
        and/or determination of the potential performance of the devices.
    </p>
    <section>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img class='' src="static/images/current_work_4PP.jpg" alt="contact-resistivity-measurement"></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="static/images/current_work_CS.jpg" alt="cox-strack-contact-resistivity"></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="static/images/current_work_FA_correction.jpg" alt="contact-resistivity-full-area-metal"></a>
            </div>
        </div>
    </section>
</article>