{% include 'header.html' %}
{% include 'navigation.html' %}


<!-- Main -->
<div id="main">

	<!-- Me -->
	<article id="home" class="panel intro">
		<header>
			<h1>Konstantin Tsoi</h1>
			<p>Researcher</p>
		</header>
		<a href="#work" class="jumplink pic">
			<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
			<img src="static/images/me_v2.jpg" alt="konstantin-tsoi" />
		</a>
	</article>
	
	<!-- Work -->
	{% include 'current_work.html' %}

	<!-- Side projects -->
	{% include 'side_projects.html' %}

	<!-- Contact -->
	{% include 'contact.html' %}

</div>

<!-- Footer -->
{% include 'footer.html' %}