<article id="side_projects" class="panel">
    <header>
        <h2>Side projects</h2>
    </header>

    <a href="#contact" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span>Contact me</span></span>
    </a>

    <a href="#work" class="jumplink pic">
        <span class="arrow_left icon solid fa-chevron-left"><span>See my work</span></span>
    </a>

    <p>
        Side projects will go here
    </p>
    <section>
        <div class="row">

            {% for project in projects: %}
            <div class="card">
                <div class="front col-4 col-6-medium col-12-small">
                    <div class="row">
                        <div class="title">{{project.title}}</div>
                    </div>
                    <div class="row">
                        <div class="card-content">
                            <a href="{{ url_for('show_work', project_id=project.id) }}"><img src="{{project.img_url}}"
                                    alt="{{project.img_alt}}" width="90%" class=""></a>
                        </div>
                    </div>

                </div>
                <div class="fit back col-4 col-6-medium col-12-small">
                    <div>
                        <div class="title">{{project.title}}</div>
                        <p class="overview">
                            {{project.subtitle}}
                        </p>

                        <a href="#" class="button">Update</a>
                        <a href="#" class="button delete-button">Delete</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</article>

<div class="row">
    {% for project in projects: %}
    <div class="col-4 col-6-medium col-12-small">

        <a href="{{ url_for('show_work', project_id=project.id) }}" class="image fit"><img src="{{project.img_url}}"
                alt="{{project.img_alt}}"></a>
    </div>
    {% endfor %}
</div>