<article id="side_projects" class="panel">
    <header>
        <h2>Side projects</h2>
    </header>

    <a href="#contact" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span>Contact me</span></span>
    </a>

    <a href="#work" class="jumplink pic">
        <span class="arrow_left icon solid fa-chevron-left"><span>See my work</span></span>
    </a>

    <p>
        Side projects will go here
    </p>
    <section>
        <div class="row">

            {% for project in side_projects: %}
            <div class="card">
                <div class="front col-4 col-6-medium col-12-small">
                    <div class="row" style="justify-content: center;">
                        <div class="title">{{project.title}}</div>
                    </div>
                    {% if project.img_url: %}
                    <div class="row" style="justify-content: center;">

                        <div class="card-content">
                            <img src="{{project.img_url}}" alt="{{project.img_alt}}" width="90%"
                                class="img-fluid rounded mx-auto d-block">
                        </div>


                    </div>
                    {% endif %}
                </div>
                <div class="back col-4 col-6-medium col-12-small">
                    <div>
                        <div class="title">{{project.title}}</div>
                        <p class="overview">
                            {{project.subtitle}}
                        </p>

                        <a class="btn btn-primary" href="{{ url_for('show_side_project', project_id=project.id) }}"
                            role="button" style="color: #29b1e7;">View Details</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</article>
