
<article id="side_projects" class="panel">
    <header>
        <h2>Side projects</h2>
    </header>

    <a href="#contact" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"><span>Contact me</span></span>
    </a>

    <a href="#work" class="jumplink pic">
        <span class="arrow_left icon solid fa-chevron-left"><span>See my work</span></span>
    </a>

    <p>
        Side projects will go here
    </p>
    <section>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="" class="image fit"><img src="" alt=""></a>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <a href="#" class="image fit"><img src="" alt=""></a>
            </div>
        </div>
    </section>
</article>
