<div class="col-12 col-6-medium col-12-small">
    <p>
        In my work, there are many times when literature offers some formulations that are useful to my work.
        However, after some mistakes of not verifying the correctness of proposed formulas (which usually lead to
        hours of
        debugging MATLAB code, assuming that I made a mistake rather than in the publication itself), I have picked up a
        habit of first checking the reported formulas and resulting figures. To do so, I usually reproduce reported
        figures.
        And to do it more precisely, I digitize the data, so that I can plot it on top of my reproduced results. For
        digitizing I typically use available software like 'PlotDigitizer'.
        One of the disadvantages of it is that users do it by hand. So that is how this side project came to be. I
        thought
        that with my knowledge of image processing, data graphing, and Python, I could build a tool that would
        automatically
        digitize the data of a given graph.
    </p>
    <div class="col-12 col-6-medium col-12-small">
        <div>
            <img src="{{'../static/' + project.img_main_1}}" alt="{{project.img_alt}}"
                class="img-responsive mx-auto d-block" width="65%" style="margin-bottom: 2em;">
        </div>
    </div>

    <p>
        This project is still in its very early stages. It doesn't do well with poor resolution images, and can only
        understand and read continuous lines. In short, many aspects need to be improved.
        As it is in the development stage, I mainly work using Google Colab notebooks (I find it the most comfortable
        environment for this kind of code). You can find the current state of this project <a
            href="https://github.com/knstntn-ts/autodigitizer.git">here.</a>
    </p>

    <p>
        If you have something to add, edit, suggest or critisize about this work, do not hesitate to hit me up! I am open
        to any sort of feedback.
    </p>
</div>