<div class="col-12 col-6-medium col-12-small">

    <p>
        My exposure to programming was quite limited until about 6 months ago. I was not a complete noob, because I had
        taken some programming classes (C programming during undergrad and machine learning during grad) but I didn't
        know
        all the details and uses of coding, certainly how ridiculously hard it can be.
        About six months ago (now it is June 2022) I have realized that I want to switch my field and learn how to code
        professionally and land an appropriate position. So I made a game plan: <u> take programming courses on Udemy
            and follow
            through.</u>

    </p>
    <h3>First online course: PHP</h3>
    <p>
        For some weird reason, I have started (November 2021) with <a
            href="https://www.udemy.com/share/101X5Q3@YLDfK5_oXxHav6K_mWwBdCZRh9mLzTjmG_3GrwohMcjYQTcIvd6REc2zNf37UZpeMg==/">PHP
            course</a>. I wouldn't say that it was a
        complete waste of my time because I got to see what PHP is, how it is used and how powerful it is in maintaining
        the functionality of the websites. The content of the class was great, by the end of it I built a
        fully-operational CMS (Content Management System) and got quite familiar with PHP. After completing and
        reflecting on the course, I thought that
        it was not that big of a challenge because the stuff I did was quite doable with
        enough patience and some googling. I was acquainted to these sorts of problems during my studies, where things
        could be solved they just required time of searching and meddling with. Regardless, though, the learning
        process was satisfying, I was able to <i>practice perseverance and discipline</i>, which allowed me to finish
        the whole
        course in about a two months.
    </p>
    <div class="col-12 col-6-medium col-12-small">

        <img src="../static/side_projects/3_4.jpg" class="img-responsive mx-auto d-block" width="75%"
            style="margin-bottom: 2em;">

    </div>

    <h3>Towards a harder challenge</h3>
    <p>

        Following the PHP course, I wanted to taste what is the software development is like, namely, how the process of
        hiring looks like. Prior to this I had heard about interviews with some coding challenges, nothing more than
        that. So I searched and came across <a
            href="https://www.udemy.com/share/101qSq3@y-XWxSdg2lb_0xDHOAczkBhRduKsWjZnG8b29jGitoxbYm4wCMR0eaRYQR4a8FFErA==/">"Master
            the Coding Interview: Data Structures + Algorithms"</a> course. It
        seemed interesting and something that can be challenging, so I signed up.
        Since it was about one week after I completed previous course on PHP I was quite self-confident that new class
        will not be difficult. Oh, boy... how wrong was I...

    </p>
    <p>
        There were so many new concepts that I hadn't known about programming: trees, stacks, dynamic programming,
        search algorithms and others.
        Thankfully, I had not only arrogance leftover from the first course, but also habit of patience and
        perseverance, which again helped me grind through the class in about a month. By the end of it I was proud of
        myself, I was able to get accustomed to the 'coding world', or so I thought...
    </p>
    <div class="col-12 col-6-medium col-12-small">

        <img src="../static/side_projects/3_3.jpg" class="img-responsive mx-auto d-block" width="75%"
            style="margin-bottom: 2em;">

    </div>
    <h3>An impossible challenge</h3>
    <p>
        "Now that I have finished two classes, I can conquer the whole programming world" was the thought in my head. So
        I looked for some coding challenges, and why not go to Google for it. As it appeared to be, Google is quite
        active in holding various coding competitions on a very regular and frequent basis. I ended up signing for
        their kickstarter challenge. Although I knew that I had no chance of finishing among the top participants, I
        hoped I could solve 3 out of 4 problems.
    </p>
    <p>
        However, when the day came, for which I was all excited and confident (solved like only two problems from the
        suggested problem
        sets, talk to me about that ignorance... ), I couldn't solve a single problem during the competition and even
        after when I worked on it later. That was a disaster for me, I thought that I had had it, but apparently I did
        not.
    </p>
    <p>
        That experience has shown me that I still had long way to go. After wallowing in a failure for some time, I have
        slowed
        down my horses and modified my game plan. First, I wanted to get deeper knowledge of Python and its
        capabilities. And second of all, I still wanted to learn how to be good at solving coding challenges.
    </p>
    <h3>Recovery from a hard fall</h3>
    <p>
        First of a fall, for recovery I needed to attempt something that wasn't as hard as that Google challenge. After
        searching, I found a course teaching Python, <a
            href="https://www.udemy.com/share/103IHM3@uNLVphD8RRvwHjkBxv27-Tj6XaBdHAo_JHO1SscPWXceQI5ikWKFuu8B38xnKmbgpQ==/">"100
            Days of Code: The complete Python Pro Bootcamp for 2022"</a>
        . The
        course material covered wide range of topics from very basic stuff to more specialized uses of Python (for data
        science, web scraping, web development). It was good, as I started this course my self-worth got better, because
        I could actually solve small challenges that were given throughout the course. I learnt quite a lot of new ways
        of how Python can be used.
    </p>

    <div class="col-12 col-6-medium col-12-small">

        <img src="../static/side_projects/3_2.jpg" class="img-responsive mx-auto d-block" width="75%"
            style="margin-bottom: 2em;">

    </div>
    <p>
        Upon completion of this course (which took me about 2 months), I had acquired an experience of using Python for
        building apps with GUI, use BeautifulSoup for web scraping, Flask for building blog website,
        and do data science. As an outcome of this class, I was able to create this page (to be more precise, enhance it
        to my own desires), start on "Digitizing graphs" project, use Python at my work for analysis of experimental
        data. Overall, my passion got a second breath after completing this course.
    </p>
    <p>
        As I was using Python actively for my side projects and work, I also became a regular at <a
            href="https://leetcode.com/knstntn-ts/">Leetcode</a>. After solving
        some problems, I realized
        that coding problems from the Google challenge were on some other level and that Leetcode is the place for me to
        grow in solving data structures and algorithm problems. I still suck, but little less than I used to suck
        before. I am happy to say that I am on an improving curve.
    </p>
    <h3>Now and next</h3>
    <p>
        All of the experiences have taught me not to get arrogant about my skills and at the same time not to get too
        discouraged when I can't solve something. They taught me to keep pushing, be realistic about my abilities, never
        stop learning, and that with enough time and effort put in there is nothing too hard to solve. I am planning to
        stick to this motto throughout my coding journey and life in general.
    </p>
    <p>
        If you are still here with me, I'd like to thank you for making it to the end. If you have any questions, typos
        you saw, suggestions, do not hesitate to let me know!
    </p>











</div>