<div class="col-12 col-6-medium col-12-small">

    <p>
        As a part of the <a
            href="https://www.udemy.com/share/103IHM3@uNLVphD8RRvwHjkBxv27-Tj6XaBdHAo_JHO1SscPWXceQI5ikWKFuu8B38xnKmbgpQ==/">"100
            Days of Code: The complete Python Pro Bootcamp for 2022"</a> course, I worked on the 'portfolio' projects
        (which had no posted solution, just the idea and general instructions).
        They are all (except the ones on data science, which can be found on my Google Drive) shared on my
        <a href="https://github.com/knstntn-ts">Github page</a>.


    </p>
    <p>Here are some of them. </p>
    <h3><a href="https://github.com/knstntn-ts/OPAL2bot.git">OPAL2bot</a></h3>
    <p>
        Using Selenium module, this bot is used for extracting a parameter from online calculator (PVlighthouse, OPAL2)
        used for the design of solar cells.
        Its job is to input custom sets of parameters and extract the calculated values by OPAL.
    </p>


    <h3><a href="https://github.com/knstntn-ts/SpaceInvaders.git">Space Invaders</a></h3>
    <p>

        Simple, python version of a classic game "Space Invaders". Built using Turtle module, it is a simple (no fancy
        design for ships) and fun game to play

    </p>


    <h3><a href="https://drive.google.com/file/d/151TzrkbU4E0WXnI261Q2NkNxGF1h31yV/view?usp=sharing">Data Science -
            Analysis of Space Missions</a></h3>
    <p>
        This Google Colab notebook has analysis of the missions to space performed by the countries throughout history.
        Using Pandas and Plotly modules, I analyzed and graphed the data for better understanding and visualisation of
        trends.
    </p>

    <h3><a href="https://drive.google.com/file/d/1sAPK_tMcNnvanYi20J8F96MMGGxZIRxs/view?usp=sharing">Data Science -
            Prediciting Earnings</a></h3>
    <p>
        Using the National Longitudinal Survey of Youth 1997-2011 dataset, I performed linear regression model to the
        data in order to
        build prediction model which will estimate a person's potential earnings. The Google Colab notebook contains
        various regression models
        (using various combinations of feature sets) to see what describes the relationships best.
    </p>


</div>